/*This is the general styling of the website*/

html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-family: verdana, calibri, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0px;
}

/*This is the header styling for most pages besides the home page*/

header {
    background-color: #2a7b9b;
    background: linear-gradient(to right, #2a7b9b, #57c785, #eddd53);
    margin: 0;
    padding: 0 0;
}

header h1 {
    margin-top: 0px;
    text-align: center;
    justify-content: center;
    position: relative;
    padding: 5%;
    color: #fff;
    text-shadow: 2px 2px #000;
    font-family: Garamond, Georgia, Serif;
    font-size: 350%;
}

header p {
    text-align: center;
    position: relative;
    color: #fff;
    text-shadow: 1px 1px #000;
    margin: 0, 0, 2%;
    padding: 0, 0, 2%;
}

/*This is the styling for the hero banner on the home page*/

#hero-image {
    background-image: linear-gradient(#2a7b9b, #57c785, #eddd53);
    background-image: url("/images/night.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;    
}

#hero-text {
    text-align: center;
    position: relative;
    padding: 5% 5% 0%;
    color: #fff;
    text-shadow: 2px 2px #000;
}

#hero-text h1 {
    margin-top: 15px;
    font-family: Garamond, Georgia, Serif;
    font-size: 350%;
    padding: 5% 5% 0%;
}

.hero-nav {
    display: flex;
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 2% 0 0;
}

#hero-caption {
    font-size: .75rem;
    color: #fff;
    text-shadow: 1px 1px #000;
    padding: 1%;
}

/*This is the styling for the navigation bar on all but the home page*/

nav {
    padding: 2%;
    text-align: center;
}

nav li {
    color: #fff;
    display: inline-block;
    padding: 0% 5%;
    justify-content: space-around;
}

nav a:link, nav a:visited {
    color: #fff;
    text-shadow: 1px 1px #000;
    text-decoration: none;

}

nav a:hover {
    color: #177462;
    background-color: #fff;
}

.nav-main {
    display: flex;
    display: block;
    background-color: #333;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
}

/*This allows users who are tabbing through the page to Skip to Main Content, bypassing navigation elements; this is an accessibility feature.  */

.offpage {
    position: absolute;
    left: -1000px;
    z-index: 999;
    padding: 1em;
    background-color: #177462;
    color: #fff;
}

.offpage:focus {
    left: 25%;
    transform: translateX(-50%);
}

/*This is the styling for the main body of text*/

h2 {
    color: #eddd53;
    background-color: #2a7b9b;
    font-family: Garamond, Georgia, Serif;
    text-align: center;
    font-size: 150%;
    margin: 2%;
    padding: 2%;
}

h3 {
    color: #57c785;
    font-family: Garamond, Georgia, Serif;
    font-size: 150%;
    margin: 2%;
    padding: 2%;
}

p {
    margin: 2% 2% 0%;
    line-height: 120%;
}

strong {
    color:#177462;
}

li + li {
    margin-top: 10px; 
}


/*additional styling for home page*/

#home{
    min-height: 3%;
}

figure {
    display: table;
    margin-bottom: 25px;
}

figcaption {
    display: table-caption;
    caption-side: bottom;
    width: 100%;
    font-size: .75rem;
}

.right {
    float: right;
    margin-left: 3%;
    margin-bottom: 3%;
    width: 30%;
}

.right img{
    border-radius: 100%;
    border-color:#eddd53;
    border-style: double;
    border-width: 5%;
    padding: 2%;
}

#home p{
    text-indent: 50px;
}

/*This is the styling for grid elements on the LNT page*/

.grid-container {
    display: grid;
    grid-template-areas:
        "grid-content grid-content";
    grid-template-columns: 30% 30% 30%;
    gap: 2%;
    padding: 2%;
    box-sizing: border-box;
    justify-content: center;
}

.grid-content:nth-child(odd){
    border-color: #57c785;
    border-style: dashed;
    border-width: 2%;
}

.grid-content:nth-child(even){
    border-color: #eddd53;
    border-style: dashed;
    border-width: 2%;
}

.grid-content img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: none;
    padding: 0;
    border-radius: 0%;
}

.grid-content li{
    padding-right: 15px;
}

.caption {
    text-align: center;
    position: relative;
    font-size: .75rem;
    color: #fff;
    text-shadow: 1px 1px #000;
    padding: 1%;
}

/*Safety page flex styling*/

.wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2%;
    row-gap: 20px;
    padding: 2%;
    margin: 2%;
}

.image {
    width: 250px;
    position: relative;
}

.image img{
    width: 100%;
    display: block;
    margin: auto;
    border-radius: 20%;
    padding: 0;
}

.image:nth-child(odd){
    border-color: #57c785;
    border-radius: 20%;
    border-style: dashed;
    border-width: 2%;
}

.image:nth-child(even){
    border-color: #eddd53;
    border-radius: 20%;
    border-style: dashed;
    border-width: 2%;
}

.content {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background:rgba(0,0,0,0.6);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transition: 0.6s;
    border-radius: 20%;
}

.content:hover{
    opacity: 1
}

.content p{
    color: #fff;
    text-align: center;
    justify-content: center;
}


/*This is the styling for the footer on all pages*/

footer {
    bottom: 0px;
    left: 0;
    width: 100%;
    background-color: #2a7b9b;
    color: #fff;
    font-size: .75rem;
    margin: 0;
    padding: 0 0;
    margin-top: 100px;
    justify-content: center;
}

#footer {
    position: relative;
    clear: both;
    height: 50px;
    bottom: 0px;

}
